@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #25253D;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: calc(100% - 190px);
    background-color: #25253D;
}

#board {
    margin: auto;
}

#board div {
    float: left;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 80px;
    color: #25253D;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #F29D03;
}

header .time {
    width: 100%;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

header .score {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#score {
    font-size: 24px;
    font-weight: 700;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    height: 110px;
    justify-content: center;
    background-color: #25253D;
}

footer button {
    border: 0;
    width: 60px;
    height: 60px;
    font-weight: 900;
    color: #25253D;
    border-radius: 100%;
    text-transform: uppercase;
    background-color:#F29D03;
    font-family: 'Montserrat', sans-serif;
}

footer button:hover {
    cursor: pointer;
}

footer button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

footer .buttons_game {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

#btnPlay {
    position: absolute;
    top: 0;
}

#btnPause {
    position: relative;
    top: 30px;
    right: 40px; 
}

#btnStop {
    position: relative;
    top: 30px;
    left: 40px;
}

#btnExit {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#btnExit i {
    display: block;
    align-self: center;
}

#btnLevel {
    width: 40px;
    height: 40px;
    font-size: 10px;
    position: absolute;
    left: 12px;
    bottom: 12px;
    z-index: 9999;
}

.levels {
    background-color: #25253D;
}

.levels p {
    font-size: 18px;
    font-weight: 700;
    color: #F29D03;
    margin-bottom: 12px;
}

.levels #btnCloseModal {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 0;
    width: 30px;
    height: 25px;
    color: #F29D03;
    background-color: #25253D;
}

footer .select_level {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #board img {
        width: 50px;
        height: 40px;
    }    

    .levels {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .levels .btn_levels {
        border-radius: 12px;
    }

    .levels .btn_levels {
        width: 60px;
        height: 40px;
        font-size: 12px;
        display: block;
        color: #25253D;
        margin: 12px 0;
        background-color: #F29D03;
    }
    
}

@media screen and (min-width: 768px) {
    #board:hover {
        cursor: URL(../img/cursor.png), default;
    }    

    #board img {
        width: 80px;
        height: 60px;
    }

    .levels {
        position: absolute;
        bottom: 12px;
        left: 20px;
        display: none;
        background-color: #F29D03;
        padding: 2.5px 16px 2.5px 36px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 32px;
        border-top-left-radius: 32px;
    }

    .levels p, .levels #btnCloseModal {
        display: none;
    }
    
    .levels .btn_levels {
        width: 35px;
        height: 35px;
        font-size: 12px;
        display: block;
        color: #F29D03;
        margin: 0 4px;
        background-color: #25253D;
        border: 2px solid #F29D03;
    }
}